/* Custom classes */

.p-0 {
    padding: 0px;
}

.m-o {
    margin: 0px;
}

.bc-accent {
    background-color: var(--accent-light);
}

.button {
    background-color: var(--accent-light);
    padding: 5px;
    text-decoration: none;
    color: var(--primary-dark);
    font-size: 14px;
    border: 1px solid var(--accent);
    border-radius: 5px;
}

.button:hover {
    background-color: var(--accent);
    color: var(--primary-light);
    font-size: 14px;
    border: 1px solid var(--accent-light);
}
 
/* IDs */

#explore-oregon {
    margin: 60px 0px;
    font-size: 58px;
    font-weight: bold;
    color: var(--primary-dark);
}

#oregon-header {
    color: var(--primary-dark)!important;
    font-weight: bold;
    font-size: 35px;
}

/* Site-wide set-up */


html {
    --header-height: 130.5px;
    --nav-title-width: 83.313px;
    --accent: #9882AC;
    --accent-light: #D3CCE0;
    --primary: #B2C9AB;
    --primary-light: #F8F7F2;
    --primary-dark: #3F5738;

}

body {
    background-color: var(--primary-light);
    font-family: cursive, 'Bricolage Grotesque', sans-serif;
}

/* Header and nav */

header {
    border-top: 2px solid var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
    
}

.header-container {
    margin: auto;
    width: 70vw;
    padding: 24px;
}

.nav-items {
    justify-content: space-around;
}

a.nav-link {
    margin: 0px 50px;
    color: var(--primary-dark)!important;
    font-size: 18px;
}

a.nav-link:hover {
    color: var(--primary-light)!important;
    border-bottom: 3px solid var(--accent)!important;
}

/* Page layout */

.wrapper {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 100%;
    overflow: scroll;
    margin: auto; 
    top: var(--header-height);
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

main {
    padding: 24px;
    min-width: 75%;
    max-width: 75%;
    border-right: 2px solid var(--primary-dark);
    color: var(--primary-dark);
}

.page-title {
    margin-bottom: 24px;
    color: var(--primary-dark)
}

main img {
    padding-right: 26px;
    margin-bottom: 70px;
}

.paragraph {
    color: var(--primary-dark);
}

.paragraph > *:last-child {
    margin-bottom: 50px;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 25%;
    min-width: 25%;
}

.city-aside-info {
    margin: 15px 0px;
    padding: 20px;
    color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
}

.avg-income {
    border: 1px solid var(--primary-dark);
}

th, td {
    border: 1px solid var(--primary-dark);
    padding: 5px;
} 

footer {
    min-height: 100px;
    background-color: var(--accent-light);
    border-top: 2px solid var(--primary-dark);
}

/* Media Queries */

@media screen and (max-width:1450px) and (min-width: 1000px) {

    .wrapper {
        display: block;
    }

    main {
        border: none;
        min-width: 100%;
    }

    aside {
        display: block!important;
        min-width: 100%;
    }

    .cities-aside {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .city-aside-info {
        max-width: 25%;
        min-width: 15%;
        flex-wrap: wrap;
        padding: 15px;
    }

} 

@media screen and (max-width: 1000px) {

    .wrapper {
        display: block;
    }
    
    main {
        border: none;
        min-width: 100%;
    }
    
    aside {
        display: block!important;
        min-width: 100%;
    } 
    
    .cities-aside {
        display: block;
    }
}