City Page: DONE
•   the city’s population 

•   the year the city was incorporated

•   the region of the state in which the city is located

•   the classification of the city: urban, suburban, and/or rural

•   the average income level of the city compared to the rest of the state



Html Required Elements

EVERY PAGE!

•  TITLE IN HEAD - a title in the head of each document that describes the web page’s individual topic

•  IMAGE W/ ALT - a relevant image, including alternative text for the image

•  NAV MENU - a consistent menu that allows the user to navigate to any other page on the site

•  HEADER - a header containing introductory content 

•  NAV - a nav to place the links to navigate throughout the site

•  MAIN - a section to display the main content of the page

•  ASIDE - an aside to display information related to the content
-----------------------------------------------------------------------------------------------------

1. DONE - a link that opens an external website in a new window or tab using the target attribute

2. DONE - an HTML-coded ordered list with at least three list items

3. DONE - an HTML-coded unordered list with at least three list items

4. DONE - TABLE - an HTML-coded table consisting of 3–6 columns and 3–6 rows to organize content


CSS ELEMENTS

1.  each of the following styles for text:

•   DONE - one font-family declaration

•   DONE - a :hover pseudo-class to create a rollover effect for navigation buttons

2.  DONE - a float property to position at least one HTML element to the side of another in your web page

3.  DONE - absolute and relative positioning in at least one area of your web page

4.  each of the following selectors:

•  DONE - one element selector to style the HTML elements

•  DONE - one class selector that is used at least two times to style HTML elements

•  DONE - one ID selector to format specific elements of a page


D.  Add a form on one page of your website by doing the following:

Note: The form does not need to include a functional Submit button.


•   Include text fields for the user’s first name, the user’s last name, and the user’s email address, as well as a confirmation field for the email address for verification purposes and a text box that allows the user to ask a question.

•   Ensure all fields contain placeholders.

1.  Include JavaScript code that verifies the email fields match when a user enters a second email address.
